version: "3.7"

services:
  php:
    build: ./docker/php
    container_name: laravel_php
    volumes:
      - ./src:/var/www/html
    environment:
      COMPOSER_MEMORY_LIMIT: -1
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  nginx:
    build: ./docker/nginx
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - php

  postgres:
    image: postgres:15
    container_name: laravel_postgres
    env_file:
      - .env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U laravel" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
    volumes:  
      - redis_data:/data  
    command: redis-server --appendonly yes

  node:
    image: node:20-alpine
    container_name: laravel_node
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    command: sh -c "npm install && npm run dev"
    ports:
    - "5173:5173"

volumes:
  postgres_data:
  redis_data:
